@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    font-family: "Rubik", sans-serif;
}
body{
    background-color: rgb(123, 101, 181);
    height: 100vh;
}
#root{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: wrap column;
    align-items: center;
    justify-content: center;
}
h1{
    color: white;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.canvas{
    background-color: white;
    border-radius: 12px;
    /* width: 100%; /* or any fixed width you want */
    /*height: 80vh; /* or any fixed height you want */
    /* position: relative; */
}
.tools{
    width: 30%;
    height: 10%;
    display: flex;
    flex-flow: wrap column;
}
.colors{
    font-weight: bold;
    font-size: 1.5em;
    width: 80%;
    height: 100%;
    display: grid;
    grid: 1fr 1fr / repeat(9, 1fr);
}
.colors > button{
    width: 2em;
    height: 2em;
    margin:0;
    border: none;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
    cursor: pointer;
}
.colors > button:hover{
    -webkit-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 10px 0px rgba(66, 68, 90, 1);
}
.clearButton{
    background-color: white;
    border: 2px solid black;
    grid-column: 3/4;
}
form{
    background-color: white;
    border-radius: 8px;
    padding: 2em;
}
.tools form > label{
    font-weight: bold;
    margin-right: 0.5em;
}
.tools input[type=number]{
    width: 6em;
}